html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background: var(--clr-white);
}

ul {
  list-style-type: none;
}
a:link,
a:visited {
  text-decoration: none;
}
img:not(.nav-logo) {
  width: 100%;
  display: block;
}
